.name-group {
  height: 45px;
}

.logo {
  font-size: 30px;
  margin-top: 8px;
}

.name {
  font-size: 22px;
}

.title {
  font-size: 12px;
}

.skills-text {
  margin: 0 0 30px 10px;
}

.portfolio-item {
  width: 95%;
}

.main_image {
  margin-top: 110px;
}