.name-group {
  height: 50px;
}

.logo {
  font-size: 45px;
  margin-top: 2px;
}

.name {
  font-size: 26px;
}

.skills-text {
  margin: 0 0 30px 5px;
}

.portfolio-item {
  width: 90%;
}

.main_image {
  margin-top: 115px;
}