.name-group {
  height: 45px;
}

.logo {
  font-size: 35px;
  margin-top: 6px;
}

.name {
  font-size: 22px;
}

.title {
  font-size: 12px;
}

.main-image {
  margin-top: 110px;
}

.skill {
  width: 95%;
  margin: 0.7em 4px;
}

.portfolio-item {
  width: 95%;
}

.contact-info {
  margin-left: 5%;
}