header, body, html {
  max-width: 1080px;
  margin: auto;
}
body {
  font-family: 'Raleway', sans-serif;
  color: #2d3c49;
}
h2 {
  font-weight: bold;
  margin: 5px;
}
html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
hr {
  border: none;
  height: 2px;
  width: 100%;
  color: #7d97ad;
  background-color: #777;
  margin-top: 5px;
  margin-bottom: 5px;
}
.header {
  position: fixed;
  top: 0;
  float: right;
  width: 100%;
  background-color: white;
}
.name {
  text-align: right;
  font-weight: lighter;
  color: #555;
  margin: .1em;
  margin-right: 10px;
}
.title {
  text-align: right;
  font-weight: bolder;
  margin: .1em;
  margin-right: 16px;
  margin-bottom: 12px;
}
.menu {
  list-style-type: none;
  overflow: hidden;
  background-color: #333;
  width: 100%;
  max-width: 1080px;
  margin: 0 0 10px 0;
  padding: 0;
}
.menu-item {
  float: left;
}
.menu-item a {
  font-size: 13px;
  display: block;
  color: white;
  text-align: center;
  padding: 7px 16px;
  text-decoration: none;
}
.menu-item a:hover {
  background-color: #111;
}
.top-button {
  background-color: #484848;
}
.main-image {
  display: block;
  width: 100%;
  margin-top: 120px;
  margin-bottom: 50px;
}
.group {
  padding: 0;
  margin: 12px 0 0 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
}
.about-item {
  max-height: 300px;
}
.portfolio-item {
  margin: 2px;
}